@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .word-spacing-full {
        word-spacing: 9999px;
    }
}

:root {
    color: var(--color);
    overflow-x: hidden;
    font-size: 16px;
    font-family: "Thunder LC";
    font-weight: 300;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: scroll !important;
    color: rgb(17, 17, 17);
    background-color: rgb(238, 238, 238);
    --color: 17, 17, 17;
    --bg-color: 238, 238, 238;
    --gray: 204, 204, 204;
    --accent: 161, 222, 192;
}
:root.dark {
    color: rgb(238, 238, 238) !important;
    background-color: rgb(17, 17, 17) !important;
    --color: 238, 238, 238;
    --bg-color: 17, 17, 17;
    --gray: 51, 51, 51;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background-color 300ms;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
button,
iframe {
    all: unset;
}
a,
button {
    color: rgb(var(--color));
    text-decoration: none;
    transition: color 300ms;
}
a:hover,
a:hover *,
button:hover,
button:hover * {
    color: rgb(var(--accent));
    fill: rgb(var(--accent));
}
body {
    margin: 0;
    transition: background-color 300ms;
}
input,
textarea {
    color: rgb(var(--color));
    background: transparent;
    font-family: "Thunder LC";
    font-weight: 300;
    font-style: normal;
    font-optical-sizing: auto;
    outline: none;
    resize: none;
}
::placeholder,
::-ms-input-placeholder {
    color: rgb(var(--gray));
}
img {
    max-width: 100%;
    max-height: 100%;
}
/* width */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(var(--bg-color));
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(var(--gray));
    border-radius: 9999px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--color), 0.3);
}

